html {
    box-sizing: border-box;
    font-size: 16px;
}

body {
    background-color: black;
    font-family: Helvetica;
    opacity: 0.9;
}

/* header */

header {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 69px;
    background-color: black;
    border-bottom: 1px solid seashell;
}

#logo {
    height: 50px;
    position: absolute;
    transform: translate(0, -50%);
    top: 34.5px;
    left: 10px;
}

header ul {
    position: absolute;
    right: 10px;
    line-height: 69px;
}

header li {
    display: inline-block;
    margin: 0 10px;
}

header a {
    color: seashell;
    font-size: 1.5rem;
}

/* Site Hero */

.mission-banner {
    position: relative;
    margin: 0 auto;
    top: 69px;
    width: 1200px;
    height: 700px;
    background-image: url("../images/img-mission-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mission-text {
    background-color: black;
    width: 1200px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.mission-text h2 {
    color: seashell;
    font-size: 2rem;
}

.mission-text h4 {
    color: seashell;
    font-size: 1.5rem;
}