html {
    box-sizing: border-box;
    font-size: 16px;
}

body {
    min-height: 100vh;
    background-color: black;
    font-family: Helvetica;
    opacity: 0.6;
    font-weight: bold;
}

h3 {
    color: seashell;
    font-size: 2rem;
}

p {
    color: seashell;
    font-size: 1.2rem;
}

h2 {
    color: seashell;
    font-size: 2rem;
}

h4 {
    color: seashell;
    font-size: 1.5rem;
}

h5 {
    color: seashell;
    font-size: 1.2rem;
}

h6 {
    color: seashell;
    font-size: 1.1rem;
}

/* header */

header {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 69px;
    background-color: black;
    border-bottom: 1px solid seashell;
}

#logo {
    height: 50px;
    position: absolute;
    transform: translate(0, -50%);
    top: 34.5px;
    left: 10px;
}

header ul {
    position: absolute;
    right: 10px;
    line-height: 69px;
}

header li {
    display: inline-block;
    margin: 0 10px;
}

header a {
    color: seashell;
    font-size: 1.5rem;
}

/* Site Hero */

.mission-banner {
    position: relative;
    margin: 0 auto;
    top: 69px;
    width: 1200px;
    height: 700px;
    background-image: url("../images/img-mission-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mission-text {
    background-color: black;
    width: 1200px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

/* Featured Tea */

.featured-tea-container {
    position: relative;
    top: 100px;
    margin: 0 auto;
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.featured-header {
    color: seashell;
    height: 110px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.featured-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.tea-pic {
    width: 300px;
}

figure {
    text-align: center;
    margin: 10px 15px;
}

figcaption {
    color: seashell;
    margin-top: 10px;
    font-size: 1.4rem;
}

/* Locations */

.location-container {
    background-image: url("../images/img-locations-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 1200px;
    height: 500px;
    position: relative;
    top: 175px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#location-marker {
    position: relative;
    top: 50px;
    width: 1200px;
    text-align: center;
    font-size: 2.5rem;
}

.address {
    background-color: black;
    width: 300px;
    height: 250px;
    margin: 20px;
}

.downtown, .east-bayside, .oakdale {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* Contact Info */

.contact-container {
    position: relative;
    top: 175px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

/* Footer */

footer {
    height: 80px;
    position: relative;
    top: 175px;
    width: 100%;
}

footer h6 {
    margin-left: 20px;
    line-height: 80px;
}